version: '3'
networks:
  app-net:
    driver: bridge
services:
  pg_shop:
    image: 'postgres:17'
    container_name: 'pg_shop'
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shop
    networks:
      - app-net
  pg_payments:
    image: 'postgres:17'
    container_name: 'pg_payments'
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: password
      POSTGRES_DB: payments
    networks:
      - app-net
  redis:
    container_name: 'redis'
    image: redis:7.4.2-bookworm
    restart: always
    environment:
      - REDIS_PASSWORD=password
      - REDIS_PORT=6379
      - REDIS_DATABASES=16
    ports:
      - 6379:6379
    networks:
      - app-net
  storefront:
    container_name: storefront
    build:
      dockerfile: Dockerfile-storefront
      context: .
    ports:
      - 8080:8080
    depends_on:
      - pg_shop
      - redis
    environment:
      SPRING_PROFILES_ACTIVE: prod
    networks:
      - app-net
  payments:
    container_name: payments
    build:
      dockerfile: Dockerfile-payments
      context: .
    ports:
      - 8090:8090
    depends_on:
      - pg_payments
    environment:
      SPRING_PROFILES_ACTIVE: prod
    networks:
      - app-net
  keycloak:
    platform: linux/amd64
    image: quay.io/keycloak/keycloak:26.1.3
    container_name: keycloak
    command: start-dev
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - 8080:8080